* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #fafafa;
  color: #000;
  padding: 0 5em;
}

h1 {
  grid-column: 1 / 5;
  text-align: center;
  padding: 1em;
}

main {
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

main > div > img {
  max-width: 100%;
  max-height: 80vh;
  display: block;
}

nav {
  grid-column: 4 / 5;
  padding: 2em;
}

nav > ul {
  list-style: none;
  display: grid;
  grid-template-rows: repeat(5, min-content);
}

nav > ul.active {
  grid-template-rows: auto;
}

nav ul.active li:not(.active-item) {
  opacity: 0;
}

nav > ul li {
  margin: 1em 0;
  font-size: 2.5em;
  transition: .3s ease;
}

nav > ul li .content {
  display: none;
}

nav > ul.active li .content {
  display: none;
}

nav > ul.active li.active-item {
  grid-row: 1;
  top: 0;
}

nav > ul li a {
  color: #000;
  text-decoration: none;
}

.point {
  background-color: red;
  position: absolute;
  border-radius: 50%;
}

section.cards {
  position: relative;
  max-width: 835px;
  margin: 0 auto;
  width: calc(380px * 2);
  height: 600px;
  margin-right: calc((380px / 100) * 6);
  flex-shrink: 0;
}

section.card {
  width: 50%;
  height: 100%;
  background-color: #fdfdfd;
  border-radius: 10px;
  position: absolute;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, .4);
  padding: 2em;
  border: solid 2px #000;
}

section.card__side {
  position: absolute;
  backface-visibility: hidden;
}

section.card__back {
  transform: rotateY(180deg);
}

/* div.card > section {
  border: 2px solid #050542;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

div.card > section::before {
  content: "fd";
  position: absolute;
  left: -1em;
  top: -1.1em;
  font-size: 27px;
}

div.card > section::after {
  content: "nd";
  position: absolute;
  right: -1em;
  bottom: -1.1em;
  font-size: 27px;
}

.card:nth-child(1) {
  z-index: 3;
}

.card:nth-child(2) {
  transform: translateX(3%);
  z-index: 2;
}

.card:nth-child(3) {
  transform: translateX(6%);
  z-index: 1;
}

section.card__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

section.card__content > img {
  width: 90%;
  max-height: 50%;
}

section.card__content > img:first-child {
  position: relative;
  bottom: -2px;
}

section.card__content > img:last-child {
  transform: scaleY(-1);
  position: relative;
  top: -2px;
}

section.card__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 10;
  backdrop-filter: blur(10px);
  color: white;
  padding: 2em;
}

section.card__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: .3s opacity ease-in-out;
}

section.card__overlay:hover {
  opacity: 1;
}

section.card__overlay > h2 {
  font-size: 2em;
  margin-bottom: .5em;
}

section.card__overlay > a {
  font-size: 1em;
  padding: 1em 2em;
  border: 1px solid #fff;
  color: white;
  text-decoration: none;
}

div.arrow {
  width: 4em;
  height: 4em;
  background-color: #ddd;
  flex-shrink: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}

div.arrow.prev {
  margin-right: 2em;
}

div.arrow.next {
  margin-left: 2em;
} */