* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #fafafa;
  color: #000;
  padding: 0 5em;
}

h1 {
  grid-column: 1 / 5;
  text-align: center;
  padding: 1em;
}

main {
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

main > div {
  position: relative;
  max-width: 835px;
  margin: 0 auto;
}

main > div > img {
  max-width: 100%;
  max-height: 80vh;
  display: block;
}

nav {
  grid-column: 4 / 5;
  padding: 2em;
  height: 70vh;
  background: yellowgreen;
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: min-content auto;
}

nav > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start
}

nav .button-container button {
  opacity: 0;
  transition: .3s;
  background: white;
  border: none;
  padding: 14px 8px;
}

nav.active .button-container button {
  cursor: pointer;
  opacity: 1;
}

nav.active > ul {
  /* grid-template-rows: 1fr; */
  flex-shrink: 0;
}

nav.active ul li:not(.active-item) {
  margin-top: -100%;
  opacity: 0;
  animation: dissapear .3s forwards;
}

@keyframes dissapear {
    0% {
      display: block;
    } 99%{
      display: block;
    } 100% {
      display: none;
    }
}

nav > ul li {
  margin: 0.8em 0;
  font-size: 2.1em;
  transition: .3s ease;
  padding-left: 5px;
}

nav.active > ul li.active-item {
  margin-top: 0;
  margin-bottom: auto;
  order: -1;
}

nav > ul li a {
  color: #000;
  text-decoration: none;
}

nav > .content-container {
  grid-column: 1 / 3;
  overflow: scroll;
}

nav > .content-container li {
  display: none;
  padding-top: 8px;
}

nav > .content-container li.active {
  display: block;
}

#brain {
  position: relative;
}

.point {
  background-color: red;
  position: absolute;
  border-radius: 50%;
}

.cards {
  position: relative;
  width: 400px;
  height: 600px;

}

.card {
  width: 100%;
  height: 100%;
  background-color: #fdfdfd;
  border-radius: 10px;
  position: absolute;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, .4);
  padding: 2em;
  border: solid 5px #000;
}

.card > div {
  border: 3px solid darkred;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.card > div::before {
  content: "K";
  position: absolute;
  left: -1em;
  top: -1.1em;
  font-size: 27px;
}

.card > div::after {
  content: "K";
  position: absolute;
  right: -1em;
  bottom: -1.1em;
  font-size: 27px;
  transform: rotate(180deg);
}

.card.q > div::after,
.card.q > div::before {
  content: "Q";
}

.card > div {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 100%;
}

.card .card-top,
.card .card-bottom {
  position: relative;
  width: 100%;
}

.card .card-bottom {
  transform: rotate(180deg);
}

.card > div span {
  position: absolute;
  left: 0;
}

.card img {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.card:nth-child(1) {
  z-index: 3;
}

.card:nth-child(2) {
  transform: translateX(3%);
  z-index: 2;
}

.card:nth-child(3) {
  transform: translateX(6%);
  z-index: 1;
}

